@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-charleston-green: #222831;
  --color-steel-blue: #3f72af;
  --color-space-cadet: #112d4e;
  --color-arsenic: #393e46;
  --color-azureish-white: #dbe2ef;
  --color-cultured: #f9f7f7;
  --color-bright-gray: #eee;
}

:root {
  /* --noise-image: url('chemin/vers/image-bruit.jpg'); */

  --font-logo: "Montserrat", sans-serif;
  --font-title: "Inter", sans-serif;
  --font-body: "IBM Plex Sans", sans-serif;

  /* Font Weights */

  --font-weight-logo: 800; /* ExtraBold */
  --font-weight-extra-light: 200; /* Extra Light */
  --font-weight-regular: 400; /* Regular */
  --font-weight-semi-bold: 600; /* SemiBold */

  /* Line Heights */

  --line-height-loose: 140%; /* 1.4 */
  --line-height-normal: 105%; /* 1.05 */

  /* Font Sizes */

  --font-size-logo: 64px;
  --font-size-subtitle: 24px;
  --font-size-title-1: 48px;
  --font-size-title-2: 36px;
  --font-size-title-3: 28px;
  --font-size-title-4: 24px;
  --font-size-body: 16px;
  --font-size-secondary-body: 14px;
  --font-size-caption: 12px;
  --font-size-button: 14px;
  --font-size-label: 10px;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.87 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.75rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.87 0 0);
}

/* Logo */

.logo {
  font-family: var(--font-logo), sans-serif;
  font-weight: var(--font-weight-logo);
  font-size: var(--font-size-logo);
  line-height: var(--line-height-loose);
  letter-spacing: 0;
}

/* Subtitle */

.subtitle {
  font-family: var(--font-title), sans-serif;
  font-weight: var(--font-weight-extra-light);
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-normal);
  letter-spacing: 0;
}

/* Titles */

.title-1 {
  font-family: var(--font-title), sans-serif;
  font-weight: var(--font-weight-extra-light);
  font-size: var(--font-size-title-1);
  line-height: var(--line-height-normal);
  letter-spacing: 0;
}

.title-2 {
  font-family: var(--font-title), sans-serif;
  font-weight: var(--font-weight-extra-light);
  font-size: var(--font-size-title-2);
  line-height: var(--line-height-normal);
  letter-spacing: 0;
}

.title-3 {
  font-family: var(--font-title), sans-serif;
  font-weight: var(--font-weight-extra-light);
  font-size: var(--font-size-title-3);
  line-height: var(--line-height-normal);
  letter-spacing: 0;
}

.title-4 {
  font-family: var(--font-title), sans-serif;
  font-weight: var(--font-weight-extra-light);
  font-size: var(--font-size-title-4);
  line-height: var(--line-height-normal);
  letter-spacing: 0;
}

/* Body Text */

.body-main {
  font-family: var(--font-body), sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  line-height: var(--line-height-loose);
  letter-spacing: 0;
}

.body-secondary {
  font-family: var(--font-body), sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-secondary-body);
  line-height: var(--line-height-loose);
  letter-spacing: 0;
}

/* Links and CTA */

.cta {
  font-family: var(--font-body), sans-serif;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-body);
  line-height: var(--line-height-loose);
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: none;
}

/* Captions */

.caption {
  font-family: var(--font-body), sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-loose);
  letter-spacing: 0;
}

/* Buttons */

.button {
  font-family: var(--font-body), sans-serif;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-button);
  line-height: var(--line-height-loose);
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: none;
}

/* Labels */

.label {
  font-family: var(--font-body), sans-serif;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-label);
  line-height: var(--line-height-loose);
  letter-spacing: 0;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
